In [1]:
import pandas as pd

In [18]:
for x in range(1,11) :
    if x == 1 : 
        df = pd.read_json(f'perf_summary/5-1/dnn/2y/score_{x}.json')
    else :
        df = df + pd.read_json(f'perf_summary/5-1/dnn/2y/score_{x}.json')
df.index = ['acc', 'recall', 'speci', 'profit', 'min', 'max'] 
df.columns = [x for x in range(1,13)]
dnn_5_1_2y = df/10

In [ ]:
for x in range(1,11) :
    if x == 1 : 
        df = pd.read_json(f'perf_summary/5-1/dnn/3y/score_{x}.json')
    else :
        df = df + pd.read_json(f'perf_summary/5-1/dnn/3y/score_{x}.json')
df.index = ['acc', 'recall', 'speci', 'profit', 'min', 'max'] 
df.columns = [x for x in range(1,13)]
dnn_5_1_3y = df/10

In [ ]:
df_random = df = pd.read_json(f'perf_summary/baseline/score_random.json')
df_random.index = ['acc', 'recall', 'speci', 'profit', 'min', 'max'] 
df_random.columns = [x for x in range(1,13)]

In [ ]:
df_hold = df = pd.read_json(f'perf_summary/baseline/score_hold.json')
df_hold.index = ['acc', 'profit', 'min', 'max']
df_hold.columns = [x for x in range(1,13)]

In [36]:
df_log = df = pd.read_json(f'perf_summary/baseline/log_model_1-1.json')
df_log.index = ['acc', 'recall', 'speci', 'profit', 'min', 'max'] 
df_log.columns = [x for x in range(1,13)]

In [79]:
acc_compare = pd.concat((dnn_5_1_3y[0:1],dnn_5_1_2y[0:1],df_random[0:1], df_log[0:1]))
acc_compare.index = ['3y','2y','random', 'log' ]

In [80]:
acc_compare

,1,2,3,4,5,6,7,8,9,10,11,12
3y,0.510000,0.533333,0.525556,0.500000,0.476667,0.501111,0.574444,0.444444,0.460000,0.456667,0.470000,0.585556
2y,0.471111,0.523333,0.532222,0.505556,0.455556,0.550000,0.570000,0.523333,0.486667,0.504444,0.487778,0.523333
random,0.518889,0.486667,0.503333,0.501111,0.514444,0.525556,0.504444,0.505556,0.482222,0.494444,0.511111,0.496667
log,0.566667,0.533333,0.555556,0.588889,0.466667,0.377778,0.577778,0.522222,0.500000,0.511111,0.500000,0.544444

In [81]:
recall_compare = pd.concat((dnn_5_1_3y[1:2],dnn_5_1_2y[1:2],df_random[1:2], df_log[1:2]))
recall_compare.index = ['3y','2y','random', 'log' ]

In [115]:
min_compare = pd.concat((dnn_5_1_3y[5:6],dnn_5_1_2y[5:6],df_random[5:6], df_log[4:5], df_hold[3:4]))
min_compare.index = ['3y','2y','random', 'log','hold' ]

In [116]:
min_compare

,1,2,3,4,5,6,7,8,9,10,11,12
3y,1.151392,1.142296,1.092173,1.048932,1.117280,1.145821,1.130579,1.154570,1.099668,1.182397,1.127284,1.112765
2y,1.127795,1.142296,1.092173,1.046032,1.115821,1.148348,1.130579,1.071211,1.071038,1.124950,1.127284,1.112765
random,1.182661,1.123545,1.087634,1.043808,1.101858,1.140531,1.124532,1.094491,1.091626,1.154336,1.106752,1.086402
log,0.879659,0.897601,0.896765,0.941640,0.867151,0.981492,0.857578,0.886040,0.951775,0.944129,0.805479,0.766245
hold,1.231619,1.142296,1.092173,1.049748,1.117280,1.175416,1.130579,1.154570,1.099668,1.182397,1.127284,1.112765

In [47]:
tot_profit = {'3y': dnn_5_1_3y.loc['profit'].prod(), 
      '2y':dnn_5_1_2y.loc['profit'].prod(),
      'random' : df_random.loc['profit'].prod(),
      'hold': df_hold.loc['profit'].prod(),
      'log' : df_log.loc['profit'].prod()}

In [52]:
pd.DataFrame.from_dict(tot_profit, orient = 'index')

               0
3y      2.001789
2y      1.814501
random  1.450395
hold    1.627925
log     0.980174

In [ ]:
for x in range(1,11) :
    if x == 1 : 
        df = pd.read_json(f'perf_summary/baseline/log_model/log_model{x}.json')
    else :
        df = df + pd.read_json(f'perf_summary/baseline/log_model/log_model{x}.json')
df.index = ['acc', 'recall', 'speci', 'profit', 'min', 'max'] 
df.columns = [x for x in range(1,13)]
log_model_1 = df/9